.new-Url {
    Width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-Url .content {
    width: 100%;
    padding: 96px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-Url .content section {
    width: 100%;
    max-width: 380px;
}

.new-Url .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
    color: darkslateblue;
}

.new-Url .content section p {
    font-size: 18px;
    color: darkslateblue;
    line-height: 32px;
}

.new-Url .content form {
    width: 100%;
    max-width: 450px;
}

.new-Url .content form input {
    margin-top: 8px;
}